@import "tailwindcss";

/* =========================
   THEME TOKENS (TAILWIND v4)
========================= */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-manrope);
  --font-mono: var(--font-geist-mono);
  --font-heading: var(--font-barlow-condensed);

  --color-border: var(--border);
  --color-ring: var(--ring);
  --color-input: var(--input);

  /* RIMARY = TUO COLORE */
  --color-primary: var(--burning-orange-500);
  --color-primary-foreground: #ffffff;


  /* Radius */
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

/* =========================
   GLOBAL VARIABLES
========================= */
:root {
  --background: #fff;
  --foreground: oklch(0.145 0 0);

  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);

  --border: #aaa;
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);

  --radius: 0.625rem;

  /* 🔥 TUO COLORE BASE */
  --burning-orange-500: #FF6316;
}

/* =========================
   BASE STYLES
========================= */
@layer base {
  * {
    box-sizing: border-box;
  }

  h1,
  h2,
  h3,
  h4 {
    font-family: var(--font-barlow-condensed), sans-serif;
  }

  body {
    font-family: var(--font-manrope), sans-serif;
    background: var(--background);
    color: var(--foreground);
  }

  .font-manrope {
    font-family: var(--font-manrope), sans-serif;
  }
}

@layer utilities {
  .clipped-bottom-left {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 12px 100%, 0 calc(100% - 12px))
  }

  .clipped-top-right {
    clip-path: polygon(0 0,
        calc(100% - 12px) 0,
        100% 12px,
        100% 100%,
        0 100%);
  }
}